	body
	{
		width: 100%;
		margin: 0px;
		padding: 0px;
		background-color: #EEE;
	}
	@font-face
	{
		font-family: 'Shrikhand';
		src: url(Projet3/Shrikhand-Regular.otf) format('opentype');
	}
	@font-face
	{
		font-family: 'roboto';
		src: url(Projet3/Roboto-Regular.ttf) format('TrueType');
	}
	
	body h1
	{
		font-family: 'Shrikhand';
	}
	body h2, body h3
	{
		font-family: 'Roboto'
	}
	.reservation p
	{
		font-family: 'Roboto';
	}
	#logo
	{
		margin-top: 0.3rem;
	}
	#logo h1
	{
		text-align: center;
		margin: 10px;
		background-color: white;
	}
	#logo p
	{
		margin: 0.8rem;
	}
	#logo i
	{
		font-size: 20px;
    	margin-left: 20px;
	}

	
	#logo img
	{
		width: 35%;
		padding-left: 85px;
	}
	nav
	{
		display: none;
	}
	p.localisation 
	{
		display: flex;
    	justify-content: center;
		border: solid rgb(222,222,222);
	    margin: 0;
	    background-color: rgb(222,222,222);
	    padding: 6px;
	    box-shadow: 3px -1px 5px 0px rgb(26 24 24 / 75%);
	    font-size: 15px;
	    font-family: 'Roboto';
	}
	.localisation i
	{
		font-size: 13px;
    	padding: 1px 15px 0 0px;
	}
	.reservation h1
	{
		text-align: center;
	    font-size: 20px;
	    padding: 35px 46px 0 55px;
	    margin: 0;
	}
	.decouverte
	{
		font-size: 16px;
		text-align: center;
	}
	.contenu
	{
		background-color: #EEE;
		padding-bottom: 55px;
	}
	.reservation button
	{
	    border-radius: 25px;
	    color: white;
	    margin-left: 73px;
	    padding: 13px 20px 13px 20px;
	    background: -webkit-linear-gradient(top, #FF79DA, #9356DC);
		background: -moz-linear-gradient(bottom, #FF79DA, #9356DC);
		background: -o-linear-gradient(bottom, #FF79DA, #9356DC);
		background: linear-gradient(to bottom, #FF79DA, #9356DC);
	    border: 1px solid rgb(222,222,222);
	}
	.fonctionnement h1, .restaurant h1
	{
		padding-left: 30px;
		padding-top: 10px;
		font-size: 1.3rem;
	}
	.menu
	{
		padding: 10px;
		margin-left: 20px;
	}
	.menu p
	{
		margin: 15px;
	}
	.menu button
	{
		border-radius: 1.5rem;
    	width: 80%;
    	font-size: 0.9rem;
    	padding: 5px;
	}
	.menu i
	{
		padding: 15px 15px 15px 0;
	}
	.restaurant
	{
		background-color: #EEE;
		padding-bottom: 2px;
	}
	.fonctionnement
	{
		background-color: white;
	}
	.restaurant img
	{
		width: 335px;
    	height: 165px;
	    border-radius: 15px 15px 0 0;
	}
	figure.images
	{
    	background-color: white;
    	margin: 0px 17px 0 17px;
    	border-radius: 25px;
    	position: relative;
	}
	figure.images img 
	{
	    width: 100%;
	    height: 160px;
	    margin-top: 0px;
	}
	figcaption
	{
		padding-left: 15px;
	}
	figcaption a
	{
		text-decoration: none;
	}
	figure.images i
	{
		font-weight: normal;
		position: absolute;
		right: 1.5rem;
	}
	footer.pied
	{
		background-color: black;
		color: white;
		position: relative;
		margin-top: 1px;
	}
	footer h1
	{
		font-size: 1.5rem;
		margin: 0;
	}
	footer i
	{
		margin-right: 0.6rem;
	}
	footer li
	{
		line-height: 2;
	}



	#logo a
	{
		text-decoration: none;
	}
	figure.images1
	{
		background-color: white;
    	margin: 0;
	}

	figure.images1 img
	{
		width: 100%;
	    height: 280px;
    	margin-top: -5px;
    	position: relative;
	}

	.compo_menu h1, .compo_menu2 h1
	{
		position: relative;
	    margin-left: 20px;
	    padding-top: 25px;
	    font-size: 25px;
	}
	.compo_menu i, .compo_menu2 i
	{
		position: absolute;
		right: 2rem;
	    font-size: 23px;
	    font-weight: normal;

	}
	.compo_menu i:hover, .compo_menu i:hover
	{
	    font-weight: -webkit-linear-gradient(top, #FF79DA, #9356DC);
		font-weight: -moz-linear-gradient(bottom, #FF79DA, #9356DC);
		font-weight: -o-linear-gradient(bottom, #FF79DA, #9356DC);
		font-weight:  linear-gradient(to bottom, #FF79DA, #9356DC);
		border:none;
	}
	ul
	{
		list-style-type: none;
	}
	.plats ul
	{
		margin-left: -1.5rem;
	}
	
	.plats strong
	{
		position: absolute;
		right: 2rem;
		top: 2.5rem;
	}
	.plats li
	{
		width: 92%;
		box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.37);
		-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.37);
		-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.37);
	    border-radius: 15px;
	    background-color: white;
	    padding: 1px 2px 8px 10px;
	    margin-bottom: 10px;
	    position: relative;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    cursor: pointer;
	}
	.liste i
	{
		right: -1rem;
		top: 3.5rem;
	}
	.plats li i
	{
		transform: translateX(-30%);
	}
	.plats li i:active
	{
		transition: transform 1s; 	
	}
	.liste.liste__icone i.fas.fa-check-circle
	{
		color: white;
		background-color: #99E2D0;
	    width: 60px;
    	height: 56px;
    	font-weight: 900;
	}
	.plats h3
	{
		line-height: 0;
	}
	.plats h2
	{
		font-size: 20px;
	    margin-left: 30px;
	    margin-top: 30px;
	    padding-top: 10px;
	    border-bottom: 4px #99E2D0 solid;
	    padding-bottom: 7px;
	    width: 3.3rem;
	}

	.commande
	{
		display: flex;
		justify-content: center;
		margin-bottom: 3rem;
    	margin-top: 3rem;
	}
	.principal
	{
		box-shadow: -2px 3px 9px 0px rgba(0,0,0,0.37);
		-webkit-box-shadow: -2px 3px 9px 0px rgba(0,0,0,0.37);
		-moz-box-shadow: -2px 3px 9px 0px rgba(0,0,0,0.37);
	}
	.principal:hover
	{
		box-shadow: -2px 6px 9px 0px rgba(0,0,0,0.37);
		-webkit-box-shadow: -2px 6px 9px 0px rgba(0,0,0,0.37);
		-moz-box-shadow: -2px 6px 9px 0px rgba(0,0,0,0.37);
		background: rgb(147,86,220);
		background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,108,212,1) 53%);
	}
	footer
	{
		height: 200px;
		background-color: black;
		color: white;
		padding: 25px 0px 0px 30px;
	    position: relative;
    	margin-top: -50px;
	}
	footer img
	{
		width: 120px;
	}
	footer ul
	{
		margin-left: -3rem;
	}
	section.compo_menu
	{
		background-color: #EEE;
	    position: relative;
	    top: -80px;
	    border-radius: 40px 40px 0 0;
	}
	.compo_menu button, .compo_menu2 button
	{
		width: 45%;
	    padding: 1rem;
	    border-radius: 2rem;
	    background: -webkit-linear-gradient(top, #FF79DA, #9356DC);
		background: -moz-linear-gradient(bottom, #FF79DA, #9356DC);
		background: -o-linear-gradient(bottom, #FF79DA, #9356DC);
		background: linear-gradient(to bottom, #FF79DA, #9356DC);
	    color: white;
	    border-width: 0;
	}



	figcaption p
	{
		margin-top: -1.5rem;
		line-height: 2.5;
	}
	section.compo_menu2
	{
		background-color: #EEE;
	    position: relative;
	    top: -115px;
	    border-radius: 40px 40px 0 0;
	}
	@keyframes mon_entree
	{
		0%{
			transform: translateX(-200px);
			opacity: 0;
		}
		100%{

			transform: translateX(0px);
			opacity: 1; 
		}
	}
	.plats__entrees
	{
		animation: mon_entree 2s ease-in-out;
		animation-iteration-count: 1;
	}
	@keyframes plats_princ
	{
		0%{
			transform: translateX(-200px);
			opacity: 0;
		}
		100%{

			transform: translateX(0px);
			opacity: 1; 
		}
	}
	.plats__princ
	{
		animation: plats_princ 2s 2.15s  both;
		animation-iteration-count: 1;
	}
	@keyframes plats_dess
	{
		0%{
			transform: translateX(-200px);
			opacity: 0;
		}
		100%{

			transform: translateX(0px);
			opacity: 1; 
		}
	}
	.plats__dess
	{
		animation: plats_dess 2s 3.15s both;
		animation-iteration-count: 1;
	}




